<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class ="masthead-intro">Making the internet a little more thoughtful</p>
</header>
<div class="info-container">
  <section class="info">
    <header>
      <h2>About Tweetful</h2>
    </header>
    <p>
      Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
  </section>

  <section class="info">
    <header>
      <h2>What Makes Us Different</h2>
    </header>
    <p>
      Powder chocolate cake biscuit chocolate bar I love. Ice cream bear claw chocolate bar marzipan powder caramels bear claw donut. Caramels bonbon fruitcake sugar plum apple pie. Dragée carrot cake toffee I love brownie. Pudding I love icing sweet roll. Marshmallow dessert dragée liquorice sugar plum soufflé ice cream halvah.
    </p>
  </section>

  <section class="info">
    <header>
      <h2>Company History</h2>
    </header>
    <p>
      Marzipan chupa chups powder I love cheesecake donut oat cake caramels sesame snaps. Marzipan I love gummies I love chupa chups. Pastry caramels tart jelly beans gummi bears. Topping sugar plum sweet macaroon. Cheesecake lemon drops brownie cheesecake macaroon. Sweet roll I love tootsie roll halvah cupcake chocolate cake I love candy canes icing. Cake jujubes croissant jelly.
    </p>
  </section>
</div>
<footer>
  <div>
    Made with computer thoughts, Megan Byrne &copy; 2015
  </div>
  <div>
    Contact us: <span>admin@tweetful.io</span> | <a href="#">Somewhere else</a> | <a href="#"> Yet another place</a>
  </div>
</footer>
