<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class ="masthead-intro">Making the internet a little more thoughtful</p>
</header>
<div class="info-container">
  <section class="info">
    <div class="profile founder-image"></div>
    <header>
      <h2>Peter Lonestar</h2>
      <h3>Founder</h3>
    </header>
    <p>
      Toffee tiramisu marzipan toffee chocolate bar. Liquorice sugar plum bonbon I love cookie caramels macaroon chocolate cake danish. I love candy canes jujubes bear claw bonbon I love chupa chups croissant bear claw. Sesame snaps cheesecake caramels pastry brownie liquorice chocolate bar jelly-o. Gingerbread cheesecake fruitcake cake donut jelly-o powder. Gingerbread candy danish donut chocolate bar chupa chups chocolate.
    </p>
  </section>

  <section class="info">
    <div class="profile cfo-image"></div>
    <header>
      <h2>Bill Billerson</h2>
      <h3>CFO</h3>
    </header>
    <p>
      Muffin chocolate cake croissant sweet roll caramels tootsie roll tiramisu carrot cake. Jelly-o topping fruitcake biscuit macaroon sugar plum. Chocolate cotton candy tart. I love liquorice chupa chups halvah chocolate bar cake wafer gingerbread tart. Lemon drops marshmallow topping tart I love I love. Pie chocolate bar tiramisu bear claw candy bear claw. Cake icing chocolate cake tootsie roll sugar plum macaroon lollipop sesame snaps cupcake. Pudding caramels marshmallow macaroon cupcake.
    </p>
  </section>

  <section class="info">
    <header>
      <div class="profile cto-image"></div>
      <h2>Megan Byrne</h2>
      <h3>CTO</h3>
    </header>
    <p>
      Pie muffin dessert. Ice cream icing chocolate bar jujubes jelly fruitcake sugar plum biscuit carrot cake. Apple pie chocolate muffin. Croissant jelly beans donut tiramisu donut chocolate. Croissant bonbon chupa chups tart lollipop jelly. Pudding donut chocolate bar cake marshmallow tiramisu marshmallow. Cake pudding croissant sesame snaps sweet cheesecake I love sugar plum I love. Candy donut wafer fruitcake chocolate dragée sweet roll. Donut cake I love topping topping.
    </p>
  </section>
</div>
<footer>
  <div>
    Made with computer thoughts, Megan Byrne &copy; 2015
  </div>
  <div>
    Contact us: <span>admin@tweetful.io</span> | <a href="#">Somewhere else</a> | <a href="#"> Yet another place</a>
  </div>
</footer>